main-container {
  padding: 2px;
  margin: 2px;
}

.header-product {
  height: 137px;
  background-color: lavender;
}

.product-display {
  background-color: aliceblue;
  display: flex;
  padding: 20px;
  border: 1px solid cyan;
}

img.image {
  width: 11%;
  padding: 3px;

  background-color: floralwhite;
  border-radius: 16px;
}

.description {
  background-color: white;
  height: 63px;
  width: 28em;
  padding: 7px;
  margin: 7px;
  border-radius: 40px;
  text-align: center;
  margin-top: 94px;
  margin-left: 43px;
}

.name {
  background-color: white;
  font-size: 35px;
  height: 75px;
  border-radius: 23px;
  width: 17%;
  position: relative;
  right: 425px;
  text-align: center;
}
