.main-container {
  border: 1px solid black;
  width: 27em;
  margin: 4px;
  height: 50em;
  padding: 5px;
  border-radius: 59px;
  background-color: lightgoldenrodyellow;
  display: -webkit-inline-box;
}

.inner-container {
  border: 1px solid black;
  width: 24em;
  margin: 22px;
  /* height: 47em; */
  background-color: lightcoral;
  border: none;
}

.header {
  border: 1px solid black;
  height: 58px;
  background-color: rgba(253, 231, 201, 0.699);
  border-top: none;
  border-right: none;
  border-left: none;
}
/* -----------imp--------- */
.chat-container {
  border: 1px solid black;
  border-top: none;
  height: 694px;
  border-bottom: none;
  border-right: none;
  border-left: none;
}

/* .chat-hider {
  border: 1px solid white;
  height: 587px;
  background-color: lightcoral;
} */
#read {
  z-index: 2;
}
